<% var data = {

  title: 'Gengze',
  status: true

} %>

<%= _.template(require('./includes/header.html').default)({data}) %>

<!-- Главный блок -->

<main class="main container relative bg-gray">
  <div class="bg-block">
    <div class="pack pack--half w-100 h-100 linear duration-7 anim anim--decrease" data-anim="hidden">
      <div class="loader">
        <span class="loader-progress">
          <svg class="loader-icon icon">
            <use xlink:href="img/icons.svg#loader">
          </svg>
        </span>
      </div>
      <picture>
        <source srcset="img/pictures/bg.webp" type="image/webp">
        <img class="main__image image image--tl" src="img/pictures/bg.jpg" alt="">
      </picture>
    </div>
  </div>
</main>

<!-- Категории -->

<% var categories = [
  {
    id: '1',
    item: '',
    text: 'Центр Орошения Pivot'
  },
  {
    id: '2',
    item: 'delay-lg-2',
    text: 'Шланг Катушки Орошения'
  },
  {
    id: '3',
    item: 'delay-lg-4',
    text: 'Орошение Бокового Рулона'
  },
  {
    id: '4',
    item: '',
    text: 'Боковое Орошение'
  },
  {
    id: '5',
    item: 'delay-lg-2',
    text: 'Линейное Орошение'
  },
  {
    id: '6',
    item: 'delay-lg-4',
    text: 'Полный ассортимент'
  }
] %>

<section class="categories container container--sm bg-gray overflow-hidden" id="categories">
  <h2 class="text text--center text-26 text-md-34 text-lg-40 bold-7 lh-2 mb-3 ease duration-4 anim anim--up" data-anim="hidden">Категории товаров</h2>
  <h3 class="text text--center text-14 bold-4 lh-3 fade-60 mb-5 mb-md-10 ease duration-4 anim anim--up" data-anim="hidden">
    Мы хорошо известны как один из ведущих производителей и поставщиков сельскохозяйственной <br class="d-none d-md-block">
    ирригационной системы в Китае для нашей дешевой продукции и хорошего обслуживания
  </h3>
  <div class="grid gap-4 gap-md-6">
    <% for (var i = 0; i < categories.length; i++) { %>
      <% if (categories[i].id != '6') { %>
        <div class="col-12 col-md-6 col-lg-4 <%= categories[i].item %> ease-in-out duration-4 anim anim--up" data-anim="hidden">
          <div class="card h-100 p-5" data-waved>
            <p class="text text--center text-16 text-md-18 text-lg-20 bold-6"><%= categories[i].text %></p>
          </div>
        </div>
      <% } else { %>
        <div class="col-12 col-md-6 col-lg-4 px-4 <%= categories[i].item %> ease-in-out duration-4 anim anim--up" data-anim="hidden">
          <button class="btn btn--primary btn--xl btn--fill btn--figure w-100" data-waved>
            <span class="btn__skew text-16 text-md-20"><%= categories[i].text %></span>
          </button>
        </div>
      <% } %>
    <% } %>
  </div>
</section>

<!-- Преимущества -->

<% var advantages = [
  {
    item: '',
    img: '1',
    title: 'Профессиональная команда',
    text: 'Профессиональные техники, отдел контроля качества и отдел продаж с многолетним опытом работы готовы обслуживать клиентов по всему мир'
  },
  {
    item: 'delay-lg-2',
    img: '2',
    title: 'Обеспечение безопасности',
    text: 'Они отвечают самым высоким требованиям к качеству, как указано в рекомендациях СЕ и нашей строгой системе контроля качества'
  },
  {
    item: 'delay-lg-4',
    img: '3',
    title: 'Требовательность к настройке',
    text: 'Мы представили современное оборудование для обработки, такое как немецкие станки для лазерной резки, сварочное оборудование и так далее'
  },
  {
    item: 'delay-lg-6',
    img: '4',
    title: 'Полное послепродажное обслуживание',
    text: 'Мы предоставляем один год бесплатной гарантии и весь срок службы в качестве гарантии качества'
  }
] %>

<section class="advantages container" id="advantages">
  <h2 class="text text--center text-26 text-md-34 text-lg-40 bold-7 lh-2 mb-3 ease duration-4 anim anim--up" data-anim="hidden">Почему выбирают GENGZE</h2>
  <h3 class="text text--center text-14 bold-4 lh-3 fade-60 mb-10 ease duration-4 anim anim--up" data-anim="hidden">
    Компания Dalian GENGZE уже более 20 лет является надежным комплексным производителем <br class="d-none d-md-block">
    сельскохозяйственной техники высшего качества в Китае
  </h3>
  <div class="advantages-slider">
    <div class="swiper swiper--overwrap">
      <div class="advantages-wrapper swiper-wrapper d-flex d-md-grid grid gap-md-4 h-100">
        <% for (var i = 0; i < advantages.length; i++) { %>
          <div class="swiper-slide col-6 col-lg-3 h-auto <%= advantages[i].item %> ease-in-out duration-4 anim anim--up" data-anim="hidden">
            <div class="card align-center text text--center h-100 py-7 px-4 py-md-10 px-md-8" data-waved>
              <div class="advantages__pack pack pack--rect w-100 mb-5 mb-md-8">
                <picture>
                  <source srcset="img/pictures/advantages-<%= advantages[i].img %>.webp" type="image/webp">
                  <img class="image image--sd" src="img/pictures/advantages-<%= advantages[i].img %>.png" alt="">
                </picture>
              </div>
              <div class="card-content">
                <h4 class="text-16 bold-9 lh-4 mb-3"><%= advantages[i].title %></h4>
                <p class="text-14 bold-4 lh-4 bold-4 fade-70"><%= advantages[i].text %></p>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>
    <div class="swiper-pagination d-flex d-md-none color-primary mt-10"></div>
  </div>
</section>

<!-- Компания -->

<section class="company container flex align-center gap-lg-10 bg-gray overflow-hidden" id="company">
  <div class="company__picture bg-primary w-100 mb-10 mx-auto mx-md-0 mb-lg-0 ease duration-6 anim anim--right" data-anim="hidden">
    <div class="company__pack pack pack--photo w-100">
      <div class="loader">
        <span class="loader-progress">
          <svg class="loader-icon icon">
            <use xlink:href="img/icons.svg#loader">
          </svg>
        </span>
      </div>
      <picture>
        <source srcset="img/pictures/flag.webp" type="image/webp">
        <img class="image image--rise" src="img/pictures/flag.jpg" alt="">
      </picture>
    </div>
  </div>
  <div class="company__content w-100 pl-lg-5">
    <h2 class="text-26 text-md-34 text-lg-40 bold-7 lh-2 mb-6 ease duration-4 anim anim--up" data-anim="hidden">Компания GENGZE имеет дистрибьюторов по всему миру,в том числе и в России</h2>
    <p class="text-14 bold-4 lh-4 mb-5 ease duration-4 anim anim--up" data-anim="hidden">
      Мы хорошо известны как один из ведущих производителей и поставщиков сельскохозяйственной ирригационной системы в Китае для нашей дешевой продукции и хорошего обслуживания.
    </p>
    <p class="text-14 bold-4 lh-4 mb-10 ease duration-4 anim anim--up" data-anim="hidden">
      Если вы собираетесь оптовой индивидуальной сельскохозяйственной системы орошения по конкурентоспособной цене, добро пожаловать, чтобы получить больше информации от нашего завода.
    </p>
    <div class="px-5 ease duration-4 anim anim--up" data-anim="hidden">
      <button class="btn btn--primary btn--lg btn--fill btn--figure" data-waved data-fancybox-dialog data-type="ajax" data-src="dialogs/dialog-company.html">
        <span class="btn__skew text-14 text-md-16">Смотреть дистрибьюторов</span>
      </button>
    </div>
  </div>
</section>

<!-- Контакты -->

<section class="contacts container relative bg-primary color-white overflow-hidden">
  <div class="bg-block d-none d-lg-block">
    <div class="contacts__pack pack pack--rect h-100">
      <div class="loader">
        <span class="loader-progress">
          <svg class="loader-icon icon">
            <use xlink:href="img/icons.svg#loader">
          </svg>
        </span>
      </div>
      <picture>
        <source srcset="img/pictures/contacts.webp" type="image/webp">
        <img class="image" src="img/pictures/contacts.jpg" alt="">
      </picture>
    </div>
  </div>
  <div class="contacts__content relative">
    <h2 class="text-26 text-md-34 text-lg-40 bold-7 lh-2 mb-8 ease duration-4 anim anim--up" data-anim="hidden">Предоставляем первоклассные услуги</h2>
    <div class="flex flex-column">
      <a class="flex align-center link-wrapper text-16 text-md-18 text-lg-20 bold-7 lh-2 mb-2 ease duration-4 anim anim--up" data-anim="hidden" href="tel: 8 861 24-24-010">
        <svg class="icon text-22 text-md-28 mr-3 mr-md-1">
          <use xlink:href="img/icons.svg#phone">
        </svg>
        <p>
          Звоните по всем вопросам: <br class="d-md-none">
          <span class="link">8 861 24-24-010</span>
        </p>
      </a>
      <a class="flex align-center link-wrapper text-16 text-md-18 text-lg-20 bold-7 lh-2 ease duration-4 anim anim--up" data-anim="hidden" href="mailto: info@tewar.su">
        <svg class="icon text-22 text-md-28 mr-3 mr-md-1">
          <use xlink:href="img/icons.svg#email">
        </svg>
        <p>
          Отправить по электронной почте: <br class="d-md-none">
          <span class="link">info@tewar.su</span>
        </p>
      </a>
    </div>
  </div>
</section>

<!-- О нас -->

<section class="about container flex align-center gap-lg-10 bg-gray overflow-hidden" id="about">
  <div class="about__content order-2 order-lg-1 w-100 pr-lg-5">
    <h2 class="text-26 text-md-34 text-lg-40 bold-7 lh-2 mb-6 ease duration-4 anim anim--up" data-anim="hidden">Далянь GENGZE Производство сельскохозяйственного оборудования, ООО</h2>
    <p class="text-14 bold-4 lh-4 mb-5 ease duration-4 anim anim--up" data-anim="hidden">
      Компания по производству сельскохозяйственного оборудования Dalian GENGZE уже более 20 лет специализируется на производстве высококачественного сельскохозяйственного оборудования в Китае. С 2000 года мы являемся OEM-производителем одного из самых известных ирригационных брендов в Америке. В 2017 году мы создали собственный бренд GENGZE, который сейчас стал широко известным отечественным брендом в сельскохозяйственной отрасли Китая.
    </p>
    <p class="text-14 bold-4 lh-4 mb-10 ease duration-4 anim anim--up" data-anim="hidden">
      Сегодня, как надежный производитель комплексного сельскохозяйственного оборудования, включающий прицеп-разбрасыватель, разбрасыватель жидкого навоза, измельчитель для ванн и систему орошения сельскохозяйственных культур с высокой эффективностью, но по конкурентоспособной цене, GENGZE занимается поставкой высококачественной сельскохозяйственной техники фермерам по всему миру.
    </p>
    <div class="px-5 ease duration-4 anim anim--up" data-anim="hidden">
      <button class="btn btn--primary btn--lg btn--fill btn--figure" data-waved data-fancybox-dialog data-type="ajax" data-src="dialogs/dialog-about.html">
        <span class="btn__skew">Узнать подробнее</span>
      </button>
    </div>
  </div>
  <div class="about__picture order-1 order-lg-2 bg-primary w-100 mb-10 mx-auto mx-md-0 mb-lg-0 ease duration-6 anim anim--left" data-anim="hidden">
    <div class="about__pack pack pack--photo w-100">
      <div class="loader">
        <span class="loader-progress">
          <svg class="loader-icon icon">
            <use xlink:href="img/icons.svg#loader">
          </svg>
        </span>
      </div>
      <picture>
        <source srcset="img/pictures/build.webp" type="image/webp">
        <img class="image image--rise" src="img/pictures/build.jpg" alt="">
      </picture>
    </div>
  </div>
</section>

<%= require('./includes/footer.html').default %>